<% content_for :data do %>
  <div class="span9">
    <h1>
      <% if can_manage_tasks %>
        <a href="<%= edit_task_path %>" class="task-edit-button btn btn-warning">Edit</a>
      <% end %>
      <%= @task.title %>
    </h1>

    <div class="task-description">
      <div class="task-description-text">
        <%= raw @task.description %>
      </div>
      <p class="meta"><%= pluralize @task.testcases.count, 'testcase' %>,
        <%= pluralize @task.submissions.count, 'submission' %></p>
      <div class="show-spaces">
        <%= render :partial => 'codes/results', :locals => { :noun => 'Example', :results => @task.public_results, :show_input => false } %>
      </div>
      <% if can_manage_tasks %>
        <a style="float:right" href="<%= correct_submissions_task_path(@task) %>" class="btn btn-inverse">Show Correct Submissions</a>
        <a href="<%= task_testcases_path(@task) %>" class="btn btn-inverse">Edit Testcases</a>
	<% if @task.reference_code %>
	  <a href="<%= code_path(@task.reference_code) %>" class="btn btn-inverse">Show Reference Code</a>
	<% end %>
      <% end %>
    </div>

    <div class="task-submitter">
      <%= form_tag(submit_code_task_path(@task), :method => 'POST') do %>
        <h2>Submit Code</h2>
        <textarea id="code" name="code" class="codemirror"><%= @starting_code %></textarea>
        <div class="form-actions">
          <% if can_manage_tasks %>
            <div class="task-edit-button">
              <button type="submit" name="save_default" class="btn btn-warning"
                onclick="return confirm('Are you sure?')"><i class="icon-save"></i> Save Default Code</button>
              <button type="submit" name="create_reference" class="btn btn-warning"
                onclick="return confirm('Do you want to submit the reference code?\nMake sure you already added the testcases!')">
                <i class="icon-road"></i> Submit Reference Code</button>
            </div>
          <% end %>
          <% if @task.can_submit %>
            <button type="submit" name="create_submission" class="btn btn-inverse"><i class="icon-plane"></i> Submit Code</button>
          <% else %>
            <input type="button" class="btn btn-inverse" value="Task Not Ready" disabled="disabled">
          <% end %>
        </div>
      <% end %>
    </div>

    <% unless @my_submissions.empty? %>
      <h2>My Previous Submissions</h2>
      <ul>
        <% @my_submissions.each do |sub| %>
          <li><a href="<%= submission_path(sub) %>">Submission #<%= sub.id %></a> &mdash; <%= distance_of_time_in_words_to_now(sub.created_at) %> ago
        <% end %>
      </ul>
    <% end %>

  </div>
<% end %>
<%= render 'taskview' %>
