
<%= semantic_form_for [@task, @testcase] do |f| %>
  <h2>Create New Testcase</h2>
  <%= f.inputs do %>
    <%= f.inputs :input_data, :public %>
  <% end %>
  <%= f.actions do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
