<div class="container">

  <div class="row"><div class="span4 offset4">
    <h1>Login</h1>

    <a href="<%= login_facebook_path %>" class="btn btn-xlarge btn-primary"><i class="icon-facebook"></i> Login Using Facebook</a>

    <div style="display:none">
      <%= semantic_form_for @user_session do |f| %>
        <%= f.inputs do %>
          <%= f.inputs :login, :password %>
        <% end %>
        <%= f.actions do %>
          <%= f.commit_button "Log In", :button_html => { :class => 'btn-primary' } %>
        <% end %>
      <% end %>
    </div>
  </div></div>

</div>
